
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<link rel="stylesheet" href="~/Content/cart.css" />
<div id="confirm">
    <div class="container">
        <div class="confirm">
            <h2 class="confirm-alert">@ViewBag.mess</h2>
            <p>Cảm ơn quý khách đã ủng hộ shop. Đơn hàng của quý khách sẽ nhanh chóng được gửi đến đúng hẹn !</p>
            <a href="@Url.Action("Index","HomeUser")" class="btn-back">Quay Về Trang Chủ</a>
        </div>
    </div>
</div>


