
@{
    ViewBag.Title = "TinTuc3";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


<link rel="stylesheet" href="~/Content/newspage.css" />
<h1>ĐỒNG HỒ 4AE NHẬN GIẢI ĐẠI LÝ ĐỒNG HỒ ORIENT XUẤT SẮC 2018</h1>
<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="~/images/news-3.jpg" alt="" class="newspage-img">
            <p><h5>Cứ mỗi năm Orient lại vinh danh những đại lý xuất sắc của mình, và năm nay, Đồng Hồ 4AE tiếp tục là đại lý đồng hồ Orient xuất sắc Việt Nam 2018. Đây là năm thứ ba liên tiếp Đồng Hồ 4AE được khách hàng yêu mến và ủng hộ nồng nhiệt như vậy.</h5></p>
            <h3>ĐỒNG HỒ 4AE NHẬN GIẢI ĐẠI LÝ ĐỒNG HỒ ORIENT XUẤT SẮC 2018</h3>
            <p>Mới đây, nhằm vinh danh những đại lý xuất sắc năm 2017 & 2018 vừa qua, Công ty Tân Hải Minh – Nhà phân phối chính thức đồng hồ Orient tại Việt Nam đã tổ chức buổi hội nghị khách hàng vào tháng 7.</p>
            <img src="~/images/news-3.1.jpg" alt="" class="newspage-img">
            <p><h5>Khung cảnh buổi hội nghị khách hàng do công ty Tân Hải Minh – Nhà phân phối Orient tại Việt Nam tổ chức</h5></p>
            <p>Hội nghị có sự tham gia của hầu hết các cá nhân, doanh nghiệp hoạt động trong lĩnh vực kinh doanh bán lẻ đồng hồ Orient tại Việt Nam, trong đó có Đồng Hồ 4AE, đơn vị đã 2 năm trước đã đạt được danh hiệu đại lý xuất sắc Việt Nam.</p>
            <p>Và năm nay cũng vậy, Đồng Hồ 4AE một lần nữa nhận được sự yêu mến của đông đảo khách hàng để tiếp nối ba năm liền là đại lý đồng hồ Orient xuất sắc tại Việt Nam, 2016, 2017, 2018.</p>
            <hr>
            <p><h5>“Kết quả của Chương trình vinh danh “Đại lý Orient xuất sắc Việt Nam năm 2017 & 2018” dựa trên những đánh giá về mặt doanh số, chất lượng dịch vụ, mức độ hài lòng của khách hàng và điều kiện cơ sở vật chất tại của đại lý. Góp mặt trong chương trình năm nay bao gồm tất cả các đại lý Orient đến từ mọi miền đất nước.”</h5></p>
            <hr>
            <h3>MỘT CHÚT VỀ THƯƠNG HIỆU ORIENT</h3>
            <img src="~/images/news-3.2.jpg" alt="" class="newspage-img">
            <p><h5>Sơ lược lịch sử SEIKO EPSON chủ sở hữu thương hiệu đồng hồ Seiko và Orient</h5></p>
            <hr>
            <p>“Địa chỉ trụ sở Orient Watch hiện tại: Tầng 29, JR Shinjuku Miraina Tower, 4-1-6 Shinjuku, Shinjuku-ku, Tokyo 160-8801, Nhật Bản (văn phòng Tokyo của Seiko Epson)”</p>
            <br>
            <p>Kể từ khi thành lập vào năm 1950, Orient vẫn luôn trung thành với dòng sản phẩm chính là đồng hồ cơ khí truyền thống với bộ máy được sản xuất và lắp ráp thủ công bởi chính họ. Một điều hiếm hoi và rất đáng quý trong thế giới đồng hồ ngày nay.</p>
            <p>Hiện tại, thương hiệu đồng hồ Orient đã có mặt hơn 100 quốc gia trong đó có Việt Nam. Mặc dù được biết đến nhiều từ những năm 70 nhưng năm 2005 mới là lúc Orient chính thức xuất hiện tại Việt Nam thông qua nhà phân phối Hamex Co.,Ltd (nay là TAHAMIN Co., Ltd).</p>
            <p>Có thể nói, Orient chính là một trong những thương hiệu được ưa chuộng nhất tại thị trường Việt Nam nhiều năm qua, ghi dấu ấn sâu đậm với những sản phẩm đồng hồ chất lượng Nhật Bản, giá cả phải chăng, và tất nhiên, rất nhiều tính năng làm lay động trái tim người đam mê máy thời gian.</p>
            <hr>
            <p><h5>“Kể từ khi gia nhập thị trường Việt Nam, Orient nhanh chóng ghi tên mình vào TOP 3 những thương hiệu đồng hồ có doanh số cao nhất. Được ưa chuộng bởi cả nam giới, nữ giới cũng như người chơi và sưu tập đồng hồ.”</h5></p>
            <hr>
            <h3>KHÁM PHÁ CHƯƠNG TRÌNH VINH DANH “ĐẠI LÝ ORIENT XUẤT SẮC VIỆT NAM”</h3>
            <p>Liên tiếp 3 năm 2016-2017-2018, Đồng Hồ 4AE đều vinh dự nhận được giải thưởng “Đại Lý Orient Xuất Sắc”. Điều này chính là lời khẳng định rõ nét kết quả phấn đấu không ngừng nghỉ của đại lý này không chỉ về mặt doanh số mà còn là chất lượng dịch vụ, mức độ hài lòng của khách hàng.</p>
            <img src="~/images/news-3.3.jpg" alt="" class="newspage-img">
            <p><h5>Top 5 Đại lý Đồng hồ Orient xuất sắc nhận giải ngày 25/07/2018 vừa qua</h5></p>
            <p> Mặt khác, là thương hiệu bán lẻ đồng hồ lâu năm, uy tín được tin dùng tại Việt Nam, ngoài Orient, Đồng Hồ 4AE còn vinh dự nhận được nhiều giải thưởng danh giá dành cho đại lý chính thức từ các hãng đồng hồ khác mà họ phân phối, có thể kể ra như Casio, Tissot, hai trong số những hãng được ưa chuộng nhất hiện nay.</p>
            <h3>CÁC NHÂN VẬT ĐẶC BIỆT GÓP MẶT TRONG HỘI NGHỊ KHÁCH HÀNG 2018</h3>
            <img src="~/images/news-3.4.jpg" alt="" class="newspage-img">
            <p><h5>Ông Katagiri Masaru (thứ tư từ trái qua) – Giám đốc kinh doanh và tiếp thị mảng thiết bị đeo tay của Seiko Epson trao giải thưởng Đại Lý Orient Xuất Sắc Nhất Việt Nam cho Ông Đặng 4AE (thứ ba từ phải qua) – Giám đốc Marketing của Đồng Hồ 4AE, thứ hai từ phải qua là ông Bùi Tuấn Minh – Giám đốc TAHAMIN CO., LTD</h5></p>
            <p>Giải thưởng dành cho Đại lý Orient xuất sắc năm 2017 & 2018 được trao tặng bởi ông Katagiri Masaru – Giám đốc khu vực châu Á của công ty SEIKO EPSON (Công ty sở hữu thương hiệu Orient) và ông Bùi Tuấn Minh – Giám đốc TAHAMIN CO., LTD (Nhà phân phối độc quyền thương hiệu Orient tại Việt Nam).</p>
            <p>Tham dự trong sự kiện này còn có các thành viên của ban lãnh đạo TAHAMIN CO., LTD, đại diện của các đại lý, trong đó có đại diện Đại lý Đồng hồ Orient xuất sắc Việt Nam 2018 – Ông Đặng 4AE – Giám đốc Marketing của Đồng Hồ 4AE cùng các thành viên trong ban lãnh đạo khác.</p>
            <img src="~/images/news-3.5.jpg" alt="" class="newspage-img">
            <p><h5>Ông Nguyễn Đức Long – Giám đốc Marketing Đồng Hồ 4AE nhận Giải Đại lý Đồng hồ Orient xuất sắc nhất 2018</h5></p>
            <p>Không chỉ là thương hiệu Orient, toàn ngành đồng hồ Việt Nam nói riêng và ngành hàng thời trang nói chung, Đồng Hồ 4AE cũng tự hào là Doanh nghiệp thương mại điện tử dẫn đầu Ngành hàng thời trang Việt Nam tính đến Quý 3 Năm 2018.</p>

        </div>
    </div>
</div>

