
@{
    ViewBag.Title = "TinTuc4";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


<link rel="stylesheet" href="~/Content/newspage.css" />
<h1>ĐỒNG HỒ 4AE NHẬN GIẢI ĐẠI LÝ ĐỒNG HỒ ORIENT XUẤT SẮC 2018</h1>
<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="~/images/news-4.jpg" alt="" class="newspage-img">
            <p><h5>Lọt TOP 2 trang thương mại điện tử uy tín nhất Việt Nam, Đồng Hồ 4AE không ngừng cải thiện dịch vụ và chất lượng nhằm đem đến cho khách hàng trải nghiệm tốt nhất. Nếu bạn đang tìm việc làm nhân viên bán hàng Cần Thơ, hãy gia nhập 4AE với chế độ đãi ngộ hấp dẫn mà không cần bằng cấp, kinh nghiệm.</h5></p>
            <h3>ĐỒNG HỒ 4AE TUYỂN DỤNG NHÂN VIÊN BÁN HÀNG CẦN THƠ LƯƠNG CAO</h3>
            <p>Năm 2017, 4AE vinh dự khai trương Showroom mới tại Cần Thơ nằm trong hệ thống 20 chuỗi Showroom khắp cả nước. Làm việc tại 4AE, nhân viên không chỉ nhận được chế độ đãi ngộ hấp dẫn mà còn được đào tạo từ nghiệp vụ đến chuyên môn, thường xuyên tổ chức các hoạt động thiện nguyện, team building,…</p>
            <img src="~/images/news-4.1.jpg" alt="" class="newspage-img">
            <p><h5>4AE tuyển dụng nhân viên bán hàng Cần Thơ với nhiều đãi ngộ hấp dẫn</h5></p>
            <hr>
            <p>Xem thêm: TOP 10 website tạo CV nhân viên bán hàng thời trang miễn phí</p>
            <hr>
            <h3>1. ĐỊA ĐIỂM TUYỂN DỤNG BÁN HÀNG CẦN THƠ CỦA 4AE </h3>
            <p>85B Lý Tự Trọng, P.An Phú, Q.Ninh Kiều, TP. Cần Thơ</p>
            <h3>2. MÔ TẢ CÔNG VIỆC</h3>
            <p>● Chủ động đón tiếp khách hàng đến với cửa hàng 4AE.</p>
            <p>● Vui vẻ giao tiếp, trao đổi với khách hàng về mong đợi đối với các đồng hồ đang tìm kiếm tại 4AE.</p>
            <p>● Tư vấn rõ ràng, đầy đủ các tính năng của đồng hồ, dịch vụ, chương trình khuyến mãi đến khách hàng.</p>
            <p>● Thực hiện việc giải quyết khiếu nại và các thắc mắc của khách hàng.</p>
            <p>● Làm các file báo cáo liên quan đến công việc.</p>
            <h3>3. YÊU CẦU VỊ TRÍ </h3>
            <p>● Độ tuổi: 18 – 27</p>
            <p>● Giới tính: Nam / Nữ</p>
            <p>● Sức khỏe tốt.</p>
            <p>● Nam cao 1m62 trở lên.</p>
            <p>● Nữ cao 1m57 trở lên.</p>
            <p>● Xoay ca (08h00-15h00 và 15h00-22h00) từ Thứ 2 đến Chủ nhật hàng tuần.</p>
            <p>● Giọng nói rõ ràng, dễ nghe. </p>
            <p>● Có khả năng lắng nghe, giao tiếp trình bày thuyết phục, giải quyết vấn đề và xử lý tình huống tốt.</p>
            <p>● Chủ động, vui vẻ giao tiếp và trao đổi với khách hàng. Tư vấn rõ ràng, đầy đủ các tính năng của đồng hồ, dịch vụ, chương trình khuyến mãi đến khách hàng.</p>
            <p>● Yêu thích công việc tư vấn, bán hàng. Nhiệt tình,vui vẻ, thân thiện.</p>
            <h3>4. CHẾ ĐỘ PHÚC LỢI</h3>
            <p>● Chính sách lương thưởng kèm KPIs, phần trăm doanh thu.</p>
            <p>● Lương tháng 13, BHYT, 12 ngày phép/ năm.</p>
            <p>● Chính sách khen thưởng, hỗ trợ chi phí và ngày nghỉ trong các trường hợp: kết hôn, ốm đau, tang lễ,…</p>
            <p>● Chính sách ưu đãi nội bộ khi mua đồng hồ chính hãng.</p>
            <h3>5. CƠ HỘI ĐƯỢC ĐÀO TẠO PHÁT TRIỂN BẢN THÂN</h3>
            <p>● An tâm làm việc ổn định lâu dài với vị trí cửa hàng gần nhà, môi trường làm việc năng động, đề cao văn hóa gia đình.</p>
            <p>● Showroom chuyên nghiệp, sang trọng với mức đầu tư cao về cơ sở hạ tầng và cơ sở vật chất trong mỗi cửa hàng.</p>
            <p>● Được đào tạo từ A-Z về kỹ năng chuyên môn, nghiệp vụ bán hàng.</p>
            <p>● Lương thưởng rõ ràng cho nhân viên thể hiện xuất sắc, tuyên dương các nhân có thành tích xuất sắc định kỳ.</p>
            <p>● Tham gia các hoạt động du lịch, teambuilding, các hoạt động thiện nguyện, giúp đỡ người khó khăn…</p>
            <p>● Phát triển bản thân qua từng ngày theo quy tắc tuần hoàn: Học – Làm – Sai – Sửa – Học – Làm – Phát triển và văn hóa 5C tại 4AE.</p>
            <h3>6. HÌNH THỨC NỘP HỒ SƠ ỨNG TUYỂN NHÂN VIÊN BÁN HÀNG CẦN THƠ</h3>
            <hr>
            <p>● Nộp hồ sơ qua email. – Tiêu đề Email ghi rõ [Vị Trí Ứng Tuyển] tại [Địa điểm làm việc]</p>
            <p>● Liên hệ qua Facebook</p>
            <p>● Liên hệ qua Zalo: 0345.638.400.</p>
            <hr>

        </div>
    </div>
</div>


