
@{
    ViewBag.Title = "TinTuc1";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}



<link rel="stylesheet" href="~/Content/newspage.css" />
<h1>10/5 – 10/7: TẶNG VÍ DA FUJITA NHẬT CAO CẤP 1 TRIỆU KHI MUA CITIZEN NAM</h1>
<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="~/images/news-1.jpg" alt="" class="newspage-img">
            <p>Từ ngày 10/05 – 10/07, Đồng Hồ 4AE x Citizen x Fujita ra mắt chương trình mua đồng hồ Citizen nam, tặng ngay ví da Fujita Nhật Bản cao cấp trị giá hơn 1 triệu. Số lượng quà tặng giới hạn và có thể kết thúc sớm hơn dự kiến. Cùng tham khảo mua sắm và nhận quà khủng ngay hôm nay.</p>
            <h3>CHƯƠNG TRÌNH MUA ĐỒNG HỒ CITIZEN, TẶNG VÍ DA CAO CẤP</h3>
            <p>Citizen được biết đến là thương hiệu đồng hồ Nhật Bản hàng đầu với lượng khách hàng lớn trong khi Fujita cũng là thương hiệu ví cao cấp được thiết kế theo phong cách Nhật Bản.</p>
            <p>Sự kết hợp giữa thương hiệu đồng hồ Nhật Bản và thương hiệu ví da cao cấp theo phong cách Nhật Bản sẽ là Combo hấp dẫn. Tất cả sẽ được miễn phí khi mua sắm tại hệ thống Đồng Hồ 4AE.</p>
            <p>Chương trình mua đồng hồ, tặng ví da:</p>
            <p>● Thương hiệu áp dụng: Citizen – chỉ áp dụng đối với đồng hồ nam Citizen</p>
            <p>● Thương hiệu quà tặng: Fujita – Thương hiệu giày da Việt Nam</p>
            <p>● Thời gian áp dụng: 10/05 – 10/07/2021</p>
            <p>● Thông tin về quà tặng: Ví da sử dụng dòng da cao cấp nhập khẩu từ Ý, Pháp, Nhật,… sau đó gia công thủ công tại Việt Nam theo tiêu chuẩn của Nhật Bản.</p>
            <p>● Giá trị quà tặng: Quà tặng ví da Fujita cao cấp Nhật Bản có trị giá trên thị trường là hơn 1 triệu và là phiên bản giới hạn được phối hợp giữa 4AE x Fujita.</p>
            <hr>
            <p><h5>Còn gì hấp dẫn hơn khi tự do mua sắm mẫu đồng hồ Citizen nam yêu thích, vừa được tặng ví da cao cấp mà nam giới nào cũng cần!</h5></p>
            <hr>
            <img src="~/images/news-1.1.jpg" alt="" class="newspage-img">
            <p><h5>Quà tặng cao cấp từ thương hiệu Fujita</h5></p>
        </div>
    </div>
</div>