<a href="@Url.Action("Giohang","Giohang")" style="color:white;font-weight:bold;text-decoration:none">
    <a href="@Url.Action("GioHang","Giohang")" class="cart-icon"><i class="fas fa-shopping-cart"></i>(@ViewBag.Tongsoluong)</a>   
</a>
