

<a href="@Url.Action("Giohang","Giohang")">
    <a href="@Url.Action("GioHang","Giohang")" class="cart-icon"><i class="fas fa-shopping-cart"></i><span class="header__cart-notice">@ViewBag.Tongsoluong</span></a>
</a>