@model IEnumerable<WebDongHo.Models.DanhMucSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; color:#926dd3; text-transform: uppercase; font-size:30px;">THƯƠNG HIỆU</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr style="font-size: 14px; color:#fb404b">
        <th>
            Tên Danh Mục
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="font-size: 13px; height:80px;">
        <td>
            @Html.DisplayFor(modelItem => item.TenDanhMuc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaDanhMuc }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaDanhMuc })
        </td>
    </tr>
}

</table>
